In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("churn_data.csv")

## EDA

In [3]:
data.head()

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     27000 non-null  int64
 1   churn                    27000 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  27000 non-null  object
 4   credit_score             18969 non-null  float64
 5   deposits                 27000 non-null  int64
 6   withdrawal               27000 non-null  int64
 7   purchases_partners       27000 non-null  int64
 8   purchases                27000 non-null  int64
 9   cc_taken                 27000 non-null  int64
 10  cc_recommended           27000 non-null  int64
 11  cc_disliked              27000 non-null  int64
 12  cc_liked                 27000 non-null  int64
 13  cc_application_begin     27000 non-null  int64
 14  app_downloaded           27000 non-null  int64
 15  web_user                 27000 non-null  int64
 16  app_web_user             27000 non-null  int64
 17  ios_user                 27000 non-null  int64
 18  android_user             27000 non-null  int64
 19  registered_phones        27000 non-null  int64
 20  payment_type             27000 non-null  object
 21  waiting_4_loan           27000 non-null  int64
 22  cancelled_loan           27000 non-null  int64
 23  received_loan            27000 non-null  int64
 24  rejected_loan            27000 non-null  int64
 25  zodiac_sign              27000 non-null  object
 26  left_for_two_month_plus  27000 non-null  int64
 27  left_for_one_month       27000 non-null  int64
 28  rewards_earned           23773 non-null  float64
 29  reward_rate              27000 non-null  float64
 30  is_referred              27000 non-null  int64
dtypes: float64(4), int64(24), object(3)
memory usage: 6.4+ MB

In [6]:
data.describe()

,user,churn,age,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,...,registered_phones,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
count,27000.000000,27000.000000,26996.000000,18969.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,...,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,23773.000000,27000.000000,27000.000000
mean,35422.702519,0.413852,32.219921,542.944225,3.341556,0.307000,28.062519,3.273481,0.073778,92.625778,...,0.420926,0.001296,0.018815,0.018185,0.004889,0.173444,0.018074,29.110125,0.907684,0.318037
std,20321.006678,0.492532,9.964838,61.059315,9.131406,1.055416,42.219686,8.953077,0.437299,88.869343,...,0.912831,0.035981,0.135873,0.133623,0.069751,0.378638,0.133222,21.973478,0.752016,0.465723
min,1.000000,0.000000,17.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,17810.500000,0.000000,25.000000,507.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.200000,0.000000
50%,35749.000000,0.000000,30.000000,542.000000,0.000000,0.000000,9.000000,0.000000,0.000000,65.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,0.780000,0.000000
75%,53244.250000,1.000000,37.000000,578.000000,1.000000,0.000000,43.000000,1.000000,0.000000,164.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,48.000000,1.530000,1.000000
max,69658.000000,1.000000,91.000000,838.000000,65.000000,29.000000,1067.000000,63.000000,29.000000,522.000000,...,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,114.000000,4.000000,1.000000

In [8]:
# Unique values in churn columns
data['churn'].value_counts()

0    15826
1    11174
Name: churn, dtype: int64

In [9]:
data.isnull().sum()

user                          0
churn                         0
age                           4
housing                       0
credit_score               8031
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
rewards_earned             3227
reward_rate                   0
is_referred                   0
dtype: int64

In [21]:
# As there are only 4 rows with null age value, we can remove them

data = data.dropna(subset=['age'])

In [26]:
# We can drop rewards_earned columns as many of its values are missing
data = data.drop(columns=['rewards_earned'], axis=1)

In [27]:
data.head()

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,payment_type,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,Bi-Weekly,0,0,0,0,Leo,1,0,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,Weekly,0,0,0,0,Leo,0,0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,Semi-Monthly,0,0,0,0,Capricorn,1,0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,Bi-Weekly,0,0,0,0,Capricorn,0,0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,Bi-Weekly,0,0,0,0,Aries,1,0,0.03,0

In [28]:
data.isnull().sum()

user                          0
churn                         0
age                           0
housing                       0
credit_score               8027
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
reward_rate                   0
is_referred                   0
dtype: int64

In [29]:
# As Credit score is important feature to decide the churn rate so we can't directly drop it.
# We will create a linear regression model to predict the missing values.
# We created CreditScore_Prediction file to do this task and it retuns the csv file we will use here with credit score predictions

new_data = pd.read_csv("credit_score_churn_data.csv")

In [30]:
new_data.head()

,user,churn,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,...,Gemini,Leo,Libra,Pisces,Sagittarius,Scorpio,Taurus,Virgo,na.1,credit_score
0,23547,0,28.0,0,0,1,0,0,96,0,...,0,1,0,0,0,0,0,0,0,486.0
1,58313,0,35.0,47,2,86,47,0,285,0,...,0,0,0,0,0,0,0,0,0,561.0
2,8095,0,26.0,26,3,38,25,0,74,0,...,0,0,0,0,0,0,0,0,0,567.0
3,3120,1,32.0,5,3,111,5,0,227,0,...,0,0,0,0,0,0,1,0,0,567.0
4,41406,0,21.0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,475.0

In [31]:
new_data.isnull().sum()

user                       0
churn                      0
age                        0
deposits                   0
withdrawal                 0
purchases_partners         0
purchases                  0
cc_taken                   0
cc_recommended             0
cc_disliked                0
cc_liked                   0
cc_application_begin       0
app_downloaded             0
web_user                   0
app_web_user               0
ios_user                   0
android_user               0
registered_phones          0
waiting_4_loan             0
cancelled_loan             0
received_loan              0
rejected_loan              0
left_for_two_month_plus    0
left_for_one_month         0
reward_rate                0
is_referred                0
R                          0
na                         0
Monthly                    0
Semi-Monthly               0
Weekly                     0
na_payment_type            0
Aries                      0
Cancer                     0
Capricorn                  0
Gemini                     0
Leo                        0
Libra                      0
Pisces                     0
Sagittarius                0
Scorpio                    0
Taurus                     0
Virgo                      0
na.1                       0
credit_score               0
dtype: int64